.result-list__item{
    --pharos-type-scale-14: 4.25rem;
    --pharos-type-scale-13: 3.75rem;
    --pharos-type-scale-12: 3.375rem;
    --pharos-type-scale-11: 3rem;
    --pharos-type-scale-10: 2.625rem;
    --pharos-type-scale-9: 2.25rem;
    --pharos-type-scale-8: 2rem;
    --pharos-type-scale-7: 1.75rem;
    --pharos-type-scale-6: 1.5rem;
    --pharos-type-scale-5: 1.25rem;
    --pharos-type-scale-4: 1.125rem;
    --pharos-type-scale-3: 1rem;
    --pharos-type-scale-2: 0.875rem;
    --pharos-type-scale-1: 0.75rem;
    --pharos-transition-curve-base: cubic-bezier(0.17, 0.67, 0.83, 0.67);
    --pharos-transition-duration-longer: 1000ms;
    --pharos-transition-duration-long: 500ms;
    --pharos-transition-duration-default: 250ms;
    --pharos-transition-duration-short: 100ms;
    --pharos-transition-duration-shorter: 50ms;
    --pharos-transition-base: 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
    --pharos-spacing-10-x: 10rem;
    --pharos-spacing-7-x: 7rem;
    --pharos-spacing-5-x: 5rem;
    --pharos-spacing-three-and-a-half-x: 3.5rem;
    --pharos-spacing-3-x: 3rem;
    --pharos-spacing-2-x: 2rem;
    --pharos-spacing-one-and-a-half-x: 1.5rem;
    --pharos-spacing-1-x: 1rem;
    --pharos-spacing-three-quarters-x: 0.75rem;
    --pharos-spacing-one-half-x: 0.5rem;
    --pharos-spacing-one-quarter-x: 0.25rem;
    --pharos-spacing-one-eighth-x: 0.125rem;
    --pharos-radius-base-standard: 0.125rem;
    --pharos-line-height-heading-large: 1;
    --pharos-line-height-xlarge: 2.25rem;
    --pharos-line-height-large: 1.75rem;
    --pharos-line-height-medium: 1.5rem;
    --pharos-line-height-small: 1.25rem;
    --pharos-line-height-xsmall: 1rem;
    --pharos-font-weight-bold: 700;
    --pharos-font-weight-regular: 400;
    --pharos-font-family-serif: Ivar Headline, Times, Georgia, serif;
    --pharos-font-family-sans-serif: GT America Standard, Helvetica, Helvetica Neue, Arial, Segoe UI, Roboto, Droid Sans, sans-serif;
    --pharos-textarea-size-height-base: 3.5rem;
    --pharos-modal-size-width-base: 40rem;
    --pharos-dropdown-menu-size-width-max: 17rem;
    --pharos-dropdown-menu-size-width-min: 9rem;
    --pharos-combobox-size-height-clear: 1.875rem;
    --pharos-combobox-size-height-list: 15rem;
    --pharos-color-overlay: rgba(0, 0, 0, 0.5);
    --pharos-color-green-base: #268241;
    --pharos-color-green-93: #e9f1eb;
    --pharos-color-yellow-base: #faa926;
    --pharos-color-yellow-97: #fdf9f2;
    --pharos-color-white: #ffffff;
    --pharos-color-black: #000000;
    --pharos-color-marble-gray-base: #eae8e1;
    --pharos-color-marble-gray-97: #f9f8f6;
    --pharos-color-marble-gray-94: #f2f1ed;
    --pharos-color-marble-gray-80: #d1cfc7;
    --pharos-color-marble-gray-50: #81807e;
    --pharos-color-marble-gray-40: #676765;
    --pharos-color-marble-gray-20: #343332;
    --pharos-color-marble-gray-10: #1a1a19;
    --pharos-color-living-coral-base: #fb4848;
    --pharos-color-living-coral-90: #f4d7d7;
    --pharos-color-living-coral-80: #fc9c9c;
    --pharos-color-living-coral-53: #dd3431;
    --pharos-color-living-coral-50: #c83737;
    --pharos-color-glacier-blue-base: #27cae1;
    --pharos-color-glacier-blue-90: #dcedef;
    --pharos-color-glacier-blue-80: #b4dee4;
    --pharos-color-glacier-blue-70: #79deec;
    --pharos-color-glacier-blue-40: #0ba3c1;
    --pharos-color-night-blue-base: #0d3071;
    --pharos-color-night-blue-60: #8091b3;
    --pharos-color-night-blue-15: #071d46;
    --pharos-color-jstor-red: #990000;
    --pharos-breakpoint-max: 99rem;
    --pharos-breakpoint-xlarge: 85rem;
    --pharos-breakpoint-large: 66rem;
    --pharos-breakpoint-medium: 48rem;
    --pharos-breakpoint-small: 22.5rem;
    --pharos-asset-icon-zoom-out: "assets/icons/zoom-out.svg";
    --pharos-asset-icon-zoom-in: "assets/icons/zoom-in.svg";
    --pharos-asset-icon-youtube: "assets/icons/youtube.svg";
    --pharos-asset-icon-workspace-selected: "assets/icons/workspace-selected.svg";
    --pharos-asset-icon-workspace: "assets/icons/workspace.svg";
    --pharos-asset-icon-view-list: "assets/icons/view-list.svg";
    --pharos-asset-icon-view-grid: "assets/icons/view-grid.svg";
    --pharos-asset-icon-view-gallery: "assets/icons/view-gallery.svg";
    --pharos-asset-icon-video: "assets/icons/video.svg";
    --pharos-asset-icon-twitter: "assets/icons/twitter.svg";
    --pharos-asset-icon-tumblr: "assets/icons/tumblr.svg";
    --pharos-asset-icon-shift-down: "assets/icons/shift-down.svg";
    --pharos-asset-icon-shift-up: "assets/icons/shift-up.svg";
    --pharos-asset-icon-shift-right: "assets/icons/shift-right.svg";
    --pharos-asset-icon-shift-left: "assets/icons/shift-left.svg";
    --pharos-asset-icon-share: "assets/icons/share.svg";
    --pharos-asset-icon-search: "assets/icons/search.svg";
    --pharos-asset-icon-saved: "assets/icons/saved.svg";
    --pharos-asset-icon-save: "assets/icons/save.svg";
    --pharos-asset-icon-question-inverse: "assets/icons/question-inverse.svg";
    --pharos-asset-icon-primary-source: "assets/icons/primary-source.svg";
    --pharos-asset-icon-partial-circle: "assets/icons/partial-circle.svg";
    --pharos-asset-icon-new: "assets/icons/new.svg";
    --pharos-asset-icon-move: "assets/icons/move.svg";
    --pharos-asset-icon-menu: "assets/icons/menu.svg";
    --pharos-asset-icon-linkedin: "assets/icons/linkedin.svg";
    --pharos-asset-icon-link: "assets/icons/link.svg";
    --pharos-asset-icon-link-external: "assets/icons/link-external.svg";
    --pharos-asset-icon-link-add: "assets/icons/link-add.svg";
    --pharos-asset-icon-laptop: "assets/icons/laptop.svg";
    --pharos-asset-icon-instagram: "assets/icons/instagram.svg";
    --pharos-asset-icon-info-inverse: "assets/icons/info-inverse.svg";
    --pharos-asset-icon-image: "assets/icons/image.svg";
    --pharos-asset-icon-google: "assets/icons/google.svg";
    --pharos-asset-icon-google-color: "assets/icons/google-color.svg";
    --pharos-asset-icon-fullscreen: "assets/icons/fullscreen.svg";
    --pharos-asset-icon-fullscreen-minimize: "assets/icons/fullscreen-minimize.svg";
    --pharos-asset-icon-folder-selected: "assets/icons/folder-selected.svg";
    --pharos-asset-icon-folder: "assets/icons/folder.svg";
    --pharos-asset-icon-folder-new: "assets/icons/folder-new.svg";
    --pharos-asset-icon-fit-to-view: "assets/icons/fit-to-view.svg";
    --pharos-asset-icon-filetype-ppt: "assets/icons/filetype-ppt.svg";
    --pharos-asset-icon-filetype-pdf: "assets/icons/filetype-pdf.svg";
    --pharos-asset-icon-facebook: "assets/icons/facebook.svg";
    --pharos-asset-icon-expand: "assets/icons/shift-left.svg";
    --pharos-asset-icon-exclamation: "assets/icons/exclamation.svg";
    --pharos-asset-icon-exclamation-inverse: "assets/icons/exclamation-inverse.svg";
    --pharos-asset-icon-email: "assets/icons/email.svg";
    --pharos-asset-icon-ellipses-vertical: "assets/icons/ellipses-vertical.svg";
    --pharos-asset-icon-ellipses-horizontal: "assets/icons/ellipses-horizontal.svg";
    --pharos-asset-icon-edit: "assets/icons/edit.svg";
    --pharos-asset-icon-download: "assets/icons/download.svg";
    --pharos-asset-icon-delete: "assets/icons/delete.svg";
    --pharos-asset-icon-dash-small: "assets/icons/dash-small.svg";
    --pharos-asset-icon-copy: "assets/icons/copy.svg";
    --pharos-asset-icon-collapse: "assets/icons/shift-right.svg";
    --pharos-asset-icon-close: "assets/icons/close.svg";
    --pharos-asset-icon-close-inverse: "assets/icons/close-inverse.svg";
    --pharos-asset-icon-cite: "assets/icons/cite.svg";
    --pharos-asset-icon-circle: "assets/icons/circle.svg";
    --pharos-asset-icon-chevron-up: "assets/icons/chevron-up.svg";
    --pharos-asset-icon-chevron-right: "assets/icons/chevron-right.svg";
    --pharos-asset-icon-chevron-right-large: "assets/icons/chevron-right-large.svg";
    --pharos-asset-icon-chevron-left: "assets/icons/chevron-left.svg";
    --pharos-asset-icon-chevron-left-large: "assets/icons/chevron-left-large.svg";
    --pharos-asset-icon-chevron-down: "assets/icons/chevron-down.svg";
    --pharos-asset-icon-checkmark: "assets/icons/checkmark.svg";
    --pharos-asset-icon-checkmark-small: "assets/icons/checkmark-small.svg";
    --pharos-asset-icon-checkmark-inverse: "assets/icons/checkmark-inverse.svg";
    --pharos-asset-icon-checkmark-filled-circle: "assets/icons/checkmark-filled-circle.svg";
    --pharos-asset-icon-calendar: "assets/icons/calendar.svg";
    --pharos-asset-icon-book: "assets/icons/book.svg";
    --pharos-asset-icon-base: "assets/icons/base.svg";
    --pharos-asset-icon-attachment: "assets/icons/attachment.svg";
    --pharos-asset-icon-arrow-up: "assets/icons/arrow-up.svg";
    --pharos-asset-icon-arrow-right: "assets/icons/arrow-right.svg";
    --pharos-asset-icon-arrow-left: "assets/icons/arrow-left.svg";
    --pharos-asset-icon-arrow-down: "assets/icons/arrow-down.svg";
    --pharos-asset-icon-add: "assets/icons/add.svg";
    --pharos-asset-icon-academic-content: "assets/icons/academic-content.svg";
    --pharos-spacing-gutter: var(--pharos-spacing-3-x);
    --pharos-line-height-text-base-condensed: var(--pharos-line-height-small);
    --pharos-font-size-xlarge: var(--pharos-type-scale-6);
    --pharos-font-size-large: var(--pharos-type-scale-5);
    --pharos-font-size-base: var(--pharos-type-scale-3);
    --pharos-font-size-small: var(--pharos-type-scale-2);
    --pharos-font-size-micro: var(--pharos-type-scale-1);
    --pharos-font-family-body: var(--pharos-font-family-sans-serif);
    --pharos-tooltip-color-background-base: var(--pharos-color-marble-gray-20);
    --pharos-radio-group-spacing-horizontal: var(--pharos-spacing-one-and-a-half-x);
    --pharos-radio-group-spacing-vertical: var(--pharos-spacing-one-half-x);
    --pharos-modal-spacing-base: var(--pharos-spacing-2-x);
    --pharos-modal-color-icon-focus: var(--pharos-color-jstor-red);
    --pharos-modal-color-icon-close: var(--pharos-color-marble-gray-50);
    --pharos-modal-color-border-content: var(--pharos-color-marble-gray-base);
    --pharos-modal-color-background-content: var(--pharos-color-white);
    --pharos-loading-spinner-color-stroke-secondary: var(--pharos-color-living-coral-base);
    --pharos-loading-spinner-color-stroke-primary: var(--pharos-color-jstor-red);
    --pharos-dropdown-menu-color-border-base: var(--pharos-color-marble-gray-80);
    --pharos-dropdown-menu-item-color-icon-base: var(--pharos-color-black);
    --pharos-dropdown-menu-item-color-background-hover: var(--pharos-color-marble-gray-94);
    --pharos-dropdown-menu-item-color-background-disabled: var(--pharos-color-marble-gray-base);
    --pharos-dropdown-menu-item-color-background-active: var(--pharos-color-marble-gray-base);
    --pharos-dropdown-menu-item-color-background-base: var(--pharos-color-white);
    --pharos-dropdown-menu-item-color-border-base: var(--pharos-color-marble-gray-80);
    --pharos-dropdown-menu-item-color-text-description: var(--pharos-color-marble-gray-40);
    --pharos-dropdown-menu-item-color-text-disabled: var(--pharos-color-marble-gray-40);
    --pharos-dropdown-menu-item-color-text-hover: var(--pharos-color-jstor-red);
    --pharos-dropdown-menu-item-color-text-base: var(--pharos-color-black);
    --pharos-checkbox-group-spacing-horizontal: var(--pharos-spacing-one-and-a-half-x);
    --pharos-checkbox-group-spacing-vertical: var(--pharos-spacing-one-half-x);
    --pharos-alert-color-border-info: var(--pharos-color-glacier-blue-40);
    --pharos-alert-color-border-base: var(--pharos-color-marble-gray-94);
    --pharos-alert-color-link-inverse: var(--pharos-color-white);
    --pharos-alert-color-icon-info: var(--pharos-color-glacier-blue-40);
    --pharos-alert-color-icon-base: var(--pharos-color-black);
    --pharos-alert-color-background-warning: var(--pharos-color-yellow-97);
    --pharos-alert-color-background-success: var(--pharos-color-green-93);
    --pharos-alert-color-background-error: var(--pharos-color-living-coral-90);
    --pharos-alert-color-background-info: var(--pharos-color-glacier-blue-90);
    --pharos-alert-color-background-base: var(--pharos-color-marble-gray-94);
    --pharos-color-focus: var(--pharos-color-glacier-blue-40);
    --pharos-color-text-white: var(--pharos-color-white);
    --pharos-color-text-base: var(--pharos-color-black);
    --pharos-color-text-50: var(--pharos-color-marble-gray-50);
    --pharos-color-text-40: var(--pharos-color-marble-gray-40);
    --pharos-color-text-20: var(--pharos-color-marble-gray-20);
    --pharos-color-text-10: var(--pharos-color-marble-gray-10);
    --pharos-color-feedback-info: var(--pharos-color-glacier-blue-40);
    --pharos-color-feedback-warning: var(--pharos-color-yellow-base);
    --pharos-color-feedback-success: var(--pharos-color-green-base);
    --pharos-color-feedback-error: var(--pharos-color-living-coral-53);
    --pharos-color-ui-50: var(--pharos-color-marble-gray-50);
    --pharos-color-ui-40: var(--pharos-color-marble-gray-80);
    --pharos-color-ui-30: var(--pharos-color-marble-gray-base);
    --pharos-color-ui-20: var(--pharos-color-marble-gray-94);
    --pharos-color-ui-10: var(--pharos-color-white);
    --pharos-color-interactive-tertiary: var(--pharos-color-white);
    --pharos-color-interactive-secondary: var(--pharos-color-black);
    --pharos-color-interactive-primary: var(--pharos-color-jstor-red);
    --pharos-tooltip-size-text-base: var(--pharos-font-size-small);
    --pharos-tooltip-color-text-base: var(--pharos-color-text-white);
    --pharos-text-input-color-icon-invalid: var(--pharos-color-feedback-error);
    --pharos-text-input-color-icon-valid: var(--pharos-color-feedback-success);
    --pharos-radio-button-color-background-base: var(--pharos-color-ui-10);
    --pharos-form-element-size-text-input: var(--pharos-font-size-base);
    --pharos-form-element-size-text-label: var(--pharos-font-size-small);
    --pharos-form-element-color-border-disabled: var(--pharos-color-ui-40);
    --pharos-form-element-color-border-invalid: var(--pharos-color-feedback-error);
    --pharos-form-element-color-border-focus: var(--pharos-color-focus);
    --pharos-form-element-color-border-base: var(--pharos-color-ui-50);
    --pharos-form-element-color-background-selected: var(--pharos-color-interactive-secondary);
    --pharos-form-element-color-text-invalid: var(--pharos-color-feedback-error);
    --pharos-form-element-color-text-required: var(--pharos-color-feedback-error);
    --pharos-form-element-color-text-base: var(--pharos-color-text-base);
    --pharos-combobox-color-icon-focus: var(--pharos-color-interactive-primary);
    --pharos-combobox-color-icon-checkmark: var(--pharos-color-interactive-secondary);
    --pharos-combobox-color-icon-dropdown: var(--pharos-color-interactive-secondary);
    --pharos-combobox-color-icon-clear: var(--pharos-color-ui-50);
    --pharos-combobox-color-text-selected: var(--pharos-color-text-base);
    --pharos-checkbox-color-background-base: var(--pharos-color-ui-10);
    --pharos-alert-color-border-warning: var(--pharos-color-feedback-warning);
    --pharos-alert-color-border-success: var(--pharos-color-feedback-success);
    --pharos-alert-color-border-error: var(--pharos-color-feedback-error);
    --pharos-alert-color-link-base: var(--pharos-color-interactive-secondary);
    --pharos-alert-color-text-inverse: var(--pharos-color-text-white);
    --pharos-alert-color-text-base: var(--pharos-color-text-base);
    --pharos-alert-color-icon-warning: var(--pharos-color-feedback-warning);
    --pharos-alert-color-icon-success: var(--pharos-color-feedback-success);
    --pharos-alert-color-icon-error: var(--pharos-color-feedback-error);
    --pharos-color-hover-row: var(--pharos-color-ui-20);
    --pharos-color-hover-secondary: var(--pharos-color-ui-10);
    --pharos-color-hover-primary: var(--pharos-color-interactive-primary);
    --pharos-color-text-placeholder: var(--pharos-color-text-40);
    --pharos-color-text-disabled: var(--pharos-color-text-40);
    --pharos-color-disabled: var(--pharos-color-ui-30);
    --pharos-form-element-color-background-disabled: var(--pharos-color-disabled);
    --pharos-form-element-color-text-placeholder: var(--pharos-color-text-placeholder);
    --pharos-form-element-color-text-disabled: var(--pharos-color-text-disabled);
    --pharos-combobox-color-text-hover: var(--pharos-color-hover-primary);
    letter-spacing: calc(var(--pharos-font-size-base) * -0.02);
    font-family: var(--pharos-font-family-sans-serif);
    font-size: var(--pharos-font-size-base);
    font-weight: var(--pharos-font-weight-regular);
    line-height: var(--pharos-line-height-medium);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    list-style: none;
    margin-bottom: 3rem;
}