
  * {
	box-sizing: border-box;
  }
  
  input,
  button {
	font-family: 'Poppins', sans-serif;
  }
  
  .search-container {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
		justify-content: center;
	font-family: 'Poppins', sans-serif;
	background: url("../images/Search_131.png");
	background-size: cover;
	background-position: center center;
	padding: 15px;
  }
  
  .search-container form {
	width: 100%;
	max-width: 940px;
  }
  
  .search-container form .inner-form {
	display: -ms-flexbox;
	display: block;
	width: 100%;
	display: flex;
	justify-content: space-around;
	padding:20px;
  }
  
  .search-container form .inner-form .input-field {
	height: 68px;
  }
  
  .search-container form .inner-form .input-field input.placeholder {
	color: #9a9a9a;
	font-size: 20px;
  }
  
  .search-container form .inner-form .input-field input:-moz-placeholder {
	color: #9a9a9a;
	font-size: 20px;
  }
  
  .search-container form .inner-form .input-field input::-webkit-input-placeholder {
	color: #9a9a9a;
	font-size: 20px;
  }
  
  .search-container form .inner-form .input-field input:hover, .search-container form .inner-form .input-field input:focus {
	box-shadow: none;
	outline: 0;
  }
  
  .search-container form .inner-form .input-field.first-wrap {
	margin: 5px;
	-ms-flex-positive: 1;
		flex-grow: 1;
  }
  
  .search-container form .inner-form .input-field.second-wrap {
	margin: 5px;
	min-width: 260px;
  }
  
  .search-container form .inner-form .input-field.second-wrap .choices__inner {
	background: #fff;
	border-radius: 0;
	border: 1px solid #e5e5e5;
	height: 100%;
	color: #333;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
		align-items: center;
	padding: 0 30px;
  }
  
  .search-container form .inner-form .input-field.second-wrap .choices__inner .choices__list.choices__list--single {
	display: -ms-flexbox;
	display: flex;
	padding: 0;
	-ms-flex-align: center;
		align-items: center;
	height: 100%;
  }
  
  .search-container form .inner-form .input-field.second-wrap .choices__inner .choices__item.choices__item--selectable.choices__placeholder {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
		align-items: center;
	height: 100%;
	opacity: 1;
	color: #333;
	font-size: 20px;
  }
  
  .search-container form .inner-form .input-field.second-wrap .choices__inner .choices__list--single .choices__item {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
		align-items: center;
	height: 100%;
	font-size: 20px;
  }
  
  .search-container form .inner-form .input-field.second-wrap .choices__list.choices__list--dropdown {
	border: 0;
	background: #fff;
  }
  
  .search-container form .inner-form .input-field.second-wrap .choices__list--dropdown .choices__item--selectable.is-highlighted {
	background: #fff;
	color: #333;
  }
  
  .search-container form .inner-form .input-field.second-wrap .choices__list--dropdown .choices__item {
	color: #333;
  }
  
  .search-container form .inner-form .input-field.second-wrap .choices__list--dropdown {
	margin-top: 0;
  }
  
  .search-container form .inner-form .input-field.third-wrap {
	margin: 5px;
	width: 164px;
  }
  
  .search-container form .inner-form .input-field.third-wrap .btn-search {
	height: 100%;
	width: 100%;
	white-space: nowrap;
	font-size: 20px;
	color: #fff;
	border: 0;
	cursor: pointer;
	position: relative;
	z-index: 0;
	background: #4272d7;
	transition: all .2s ease-out, color .2s ease-out;
	font-weight: 300;
  }
  
  .search-container form .inner-form .input-field.third-wrap .btn-search:hover {
	background: #2d62d3;
  }
  
  .search-container form .inner-form .input-field.third-wrap .btn-search:focus {
	outline: 0;
	box-shadow: none;
  }
  
  .search-container form .inner-form .choices[data-type*="select-one"] .choices__inner {
	padding-bottom: 0;
  }
  
  .search-container form .inner-form .choices[data-type*="select-one"]:after {
	border: 0;
	width: 18px;
	height: 18px;
	margin: 0;
	transform: translateY(-50%);
	opacity: 1;
	right: 15px;
	top: 50%;
	background-size: 18px 18px;
	background-position: right center;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg fill='%23999' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3e%3cpath d='M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z'/%3e%3c/svg%3e");
	background-repeat: no-repeat;
  }
  
  .search-container form .inner-form .choices[data-type*="select-one"].is-open:after {
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg fill='%23999' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3e%3cpath d='M12 8l-6 6 1.41 1.41L12 10.83l4.59 4.58L18 14z'/%3e%3c/svg%3e");
  }
  
  @media screen and (max-width: 992px) {
	.search-container form .inner-form .input-field {
	  height: 60px;
	}
  }
  
  @media screen and (max-width: 767px) {
	.search-container form .inner-form {
	  -ms-flex-wrap: wrap;
		  flex-wrap: wrap;
	  padding: 20px;
	}
	.search-container form .inner-form .input-field {
	  margin-bottom: 20px;
	}
	.search-container form .inner-form .input-field input {
	  padding: 10px 15px;
	}
	.search-container form .inner-form .input-field.first-wrap {
	  width: 100%;
	}
	.search-container form .inner-form .input-field.first-wrap .choices__inner {
	  padding: 10px 15px;
	}
	.search-container form .inner-form .input-field.second-wrap {
	  width: 100%;
	}
	.search-container form .inner-form .input-field.second-wrap input {
	  border: 1px solid rgba(255, 255, 255, 0.3);
	}
	.search-container form .inner-form .input-field.third-wrap {
	  margin-bottom: 0;
	  width: 100%;
	  display: flex;
	  align-items: center;
	  justify-content: center;
	}
  }