---
import { Icon } from 'astro-icon';
import {
	Button,
	CustomerQuoteSection,
	ThreeColumnTextSection,
	StickyTextImageSection,
	CtaCardSection,
} from '@littlesticks/odyssey-theme-components';
import Layout from '../layouts/Page.astro';
import TextAndImageHero from '../components/sections/heros/TextAndImageHero.astro';

// const seo = {
// 	title: 'Landing Page #1 | Astro Odyssey Theme',
// 	description: 'Landing Page #1 | Astro Odyssey Theme',
// };
---

<Layout>
	<TextAndImageHero reversed>
		<div slot="text-container">
			<h1>It's time to join the Open Access Movement</h1>
			<p>A tribute to Aaron Swartz</p>
		</div>
		<div slot="btns-container">
			<Button href="/get-started" customIcon
				>Get Started <Fragment slot="icon">
					<Icon name="ic:baseline-chevron-right" />
				</Fragment></Button
			>
		</div>
		<picture slot="image-container">
			<img
				src="/assets/images/home/aaron_swartz_3.png"
				alt="Aaron Swartz"
				id="home-hero-image"
			/>
		</picture>
	</TextAndImageHero>

	<CustomerQuoteSection
		quoteText="With enough of us, around the world, we'll not just send a strong message opposing the privatization of knowledge - we'll make it a thing of the past."
		customerName="Aaron Swartz"
	/>

	<ThreeColumnTextSection>
		<div slot="column-1-body">
			<h2>What?</h2>
			<p> 
				Aaron's Kit is a project aimed at helping authors, students, and researchers effortlessly 
				retrieve published papers and donate them as part of the open access movement.
			</p>
		</div>
		<Button href="/about" slot="column-1-cta" outlined>Learn More</Button>
		<div slot="column-2-body">
			<h2>Why?</h2>
			<p>
				Like Aaron Swartz, we strongly believe that knowledge should be free for 
				anyone to access and it should never be locked behind an expensive paywall.
			</p>
		</div>
		<Button href="/aaron-swartz" slot="column-2-cta" outlined>Learn More</Button
		>
		<div slot="column-3-body">
			<h2>How?</h2>
			<p>
				We have a command line tool that scrapes research papers from JSTOR and uploads them 
				to our database. Any user can read or download the available papers for free.
			</p>
		</div>
		<Button href="/get-started" slot="column-3-cta" outlined>Learn More</Button>
	</ThreeColumnTextSection>

	<CtaCardSection
		background="var(--theme-surface-2)"
		color="var(--theme-on-surface-2)"
	>
		<h3>Are you a student, researcher, or author that believes in the liberation of knowledge?</h3>
		<p>
			Find out how you can contribute
		</p>
		<Button href="/get-started" customIcon
			>Get Started <Fragment slot="icon">
				<Icon name="ic:baseline-chevron-right" />
			</Fragment></Button
		>
	</CtaCardSection>
</Layout>
