---
import { Icon } from 'astro-icon';
import {
	AnnouncementBar,
	Button,
	CustomerQuoteSection,
	ThreeColumnTextSection,
	YouTubeEmbedSection,
	StickyTextImageSection,
	CtaCardSection,
} from '@littlesticks/odyssey-theme-components';
import Layout from '../layouts/Page.astro';
import TextAndImageHero from '../components/sections/heros/TextAndImageHero.astro';

// const seo = {
// 	title: 'Landing Page #1 | Astro Odyssey Theme',
// 	description: 'Landing Page #1 | Astro Odyssey Theme',
// };
---

<Layout>
	<TextAndImageHero reversed>
		<div slot="text-container">
			<h1>Authors, it's time to join the Open Access Movement</h1>
			<p>A tribute to Aaron Swartz</p>
		</div>
		<div slot="btns-container">
			<Button href="/theme/get-started" customIcon
				>Get Started <Fragment slot="icon">
					<Icon name="ic:baseline-chevron-right" />
				</Fragment></Button
			>
		</div>
		<picture slot="image-container">
			<img
				src="/assets/images/aaron_swartz.jpeg"
				alt="Aaron Swartz"
				id="home-hero-image"
			/>
		</picture>
	</TextAndImageHero>

	<CustomerQuoteSection
		quoteText="With enough of us, around the world, we'll not just send a strong message opposing the privatization of knowledge - we'll make it a thing of the past."
		customerName="Aaron Swartz"
	/>

	<ThreeColumnTextSection>
		<div slot="column-1-body">
			<h2>What?</h2>
			<p>
				Aaron's Kit is a project to help authors who wants to retrieve their
				published papers from JSTOR and donate them as part of the Open Access
				movement.
			</p>
		</div>
		<Button href="/about" slot="column-1-cta" outlined>Learn More</Button>
		<div slot="column-2-body">
			<h2>Why?</h2>
			<p>
				Like Aaron Swartz, we strongly believe that knowledge should be free for
				anyone to access and it should never be locked behind an expensive
				paywall.
			</p>
		</div>
		<Button href="/aaron-swartz" slot="column-2-cta" outlined>Learn More</Button>
		<div slot="column-3-body">
			<h2>How?</h2>
			<p>
				We have a command line tool that scrapes research papers from JSTOR and
				uploads them to our database from which people may query to get access.
			</p>
		</div>
		<Button href="/get-started" slot="column-3-cta" outlined>Learn More</Button>
	</ThreeColumnTextSection>

	<CtaCardSection
		background="var(--theme-surface-2)"
		color="var(--theme-on-surface-2)"
	>
		<h2>Join the Open Access Movement</h2>
		<p>
			We are here to help you every step of the way.
		</p>
		<Button href="/get-started" customIcon
			>Get Started <Fragment slot="icon">
				<Icon name="ic:baseline-chevron-right" />
			</Fragment></Button
		>
	</CtaCardSection>
</Layout>
