---
---

<!-- <picture slot="image-container">
	<img
		src="/public/Aarons_kit_logo_1.svg"
		alt="Logo"
		id="home-hero-image"
		width = "100"
	/>
</picture> -->

<p class="odyssey-logo">Aaron's Kit</p>

<style>
	.odyssey-logo {
		width: fit-content;
		margin: 0;
		font-family: var(--theme-font-family-serif);
    	font-size: var(--font-size-md);
		color: inherit;
	}
	.odyssey-logo:hover {
		cursor: pointer;
	}
</style>
